VITE_API_BASE_URL=http://localhost:8080

VITE_OIDC_AUTHORITY=http://localhost:8081/realms/vetcare
VITE_OIDC_CLIENT_ID=vetcare-pos
VITE_OIDC_REDIRECT_URI=http://localhost:5175/login
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5175/login
VITE_AUTH_DEV_MODE=false
VITE_MAX_LIST_ITEMS=120

VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=vetcare
VITE_KEYCLOAK_CLIENT_ID=vetcare-pos

VITE_ERP_URL=http://localhost:5173
VITE_CLINIC_URL=http://localhost:5174
VITE_APP_NAME=VetCare POS
